<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>


<br>
<h1 style="text-align: center">Login Page</h1>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-8-offset-2">
            <form method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="uname">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="pswd">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name = " rememberMe" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember Me</label>
            </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <p>Do you have account? if not please register</p>
                <a href="/auth/register">Register</a>

            </form>
        </div>
    </div>
</div>
<section th:replace="fragment :: js_links"></section>
</body>
</html>