<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Page</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.getTitle()}"></td>
        <td th:text="${book.getAuthor()}"></td>
        <td th:text="${book.getDescription()}"></td>
        <td th:text="${book.getPrice()}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${book.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
    </tbody>

</table>
<br>
<br>
<a href="/create">Page for Create Book</a>



</body>
</html>