<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

</head>
<body>
<form action="/search" method="get">
    <input type="text" name="search" placeholder="Search books...">
    <button type="submit" class="search-button">Search</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.description}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${book.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a style="background-color: black"  href="/">Back</a>
</body>
</html>